/**
 * Contains all generic CSS - anything that affects font families,
 * general padding on html/body, etc.
 */

@font-face {
  font-family: 'Ubuntu';
  font-weight: 300;
  src: url('/static/font/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  src: url('/static/font/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  src: url('/static/font/Ubuntu-Medium.ttf');
}

html, body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #333;
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
  color: #ed1c2d;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #36f;
  border: 1px solid #9af;
  background-color: #ace;
  padding: 1px;
}

a:hover {
  background-color: #79e;
  border: 1px solid #68f;
  color: #00f;
}

li {
  margin: 2px;
}

.UIBanner {
  width: 100%;
  clear: both;
  border-bottom: 2px solid #ccc;
}

.UIName {
  font-size: 240%;
  text-align: center;
  padding: 8px 0;
}

.UISegments {
  padding-top: 16px;
  width: 100%;
}

.UISegments > .segment {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.UISegments > .segment > .title {
  font-size: 180%;
  padding-bottom: 8px;
  text-align: center;
}

.UISegments > .segment > .description {
  margin: 8px;
  font-size: 150%;
}

.UICoordIcon {
  padding-right: 8px;
}

.UICoordText {
  position: relative;
  bottom: 7px;
}

.UIContent {
  padding: 4px;
  margin: 4px;
}

.UIContentTitle {
  font-weight: 500;
  font-size: 110%;
  margin-bottom: 2px;
}

.UIContentDescription {
  line-height: 120%;
}
