html, body {
  background: #fff;
}

#container {
  width: 100%;
  font-family: serif;
}

.UIHeader {
  padding-bottom: 5px;
}

.UITopRanked > .UIContent {
  padding-top: 4px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 4px;
}

a {
  border: none;
}

.UIBottomRanked, .UITagBlock, .UIContentTags {
  display: none;
}
