/**
 * Contains all CSS that is specific to the CV UI.
 */

#container {
  min-width: 800px;
}

.UITag {
  background-color: #fe7;
  border: 1px solid #dc4;
  color: #963;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  margin: 2px;
  padding: 1px;
  text-decoration: none;
}

.UITag:hover {
  background-color: #ff2;
  color: #c90;
  border: 1px solid #ed2;
}

.UITag.selected {
  background-color: #af7;
  border: 1px solid #8f5;
  color: #491;
}

.UITag.selected:hover {
  background-color: #10f0;
  color: #7a4;
  border: 1px solid #5f2;
}

.UIBanner {
  background-color: #eee;
}

.UIName {
  background-color: #ccc;
}
  
.UISegments {
  background-color: #ddd;
}

.UITagBlock {
  padding: 16px 8px 8px 8px;
  text-align: center;
  font-size: 120%;
}

.UITagBlock > .description {
  font-size: 120%;
  padding-bottom: 8px;
}

.UITagBlock > .subdescription {
  color: #666;
  font-size: 100%;
  padding-bottom: 16px;
}

.UICategory > .title {
  padding-bottom: 8px;
}

.UICategory {
  display: inline-block;
  vertical-align: top;
}

.UIContentTags {
  float: right;
}

.UITopRanked > .UIContent {
  background-color: #d7ffa7;
  border: 1px solid #bf8;
  color: #350;
}

.UIBottomRanked > .UIContent {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  color: #444;
}
