/**
 * Contains all CSS that is specific to the CV UI.
 */

#container {
  min-width: 800px;
}

.UITag {
  background-color: #fe7;
  border: 1px solid #ed5;
  color: #963;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  margin: 1px;
  padding: 1px;
  text-decoration: none;
}

.UITag:hover {
  background-color: #ff2;
  color: #c90;
  border: 1px solid #ed2;
}

.UITag.selected {
  background-color: #af7;
  border: 1px solid #8f5;
  color: #491;
}

.UITag.selected:hover {
  background-color: #10f0;
  color: #7a4;
  border: 1px solid #5f2;
}

.UITwoColumns {
  width: 100%;
}

.UIHeader {
  width: 100%;
  clear: both;
  background-color: #eee;
}

.UIColumn {
  display: inline-block;
  vertical-align: top;
}

.UIColumn.left {
  width: 0%;
}

.UIColumn.right {
  width: 100%;
}

.UIContent {
  padding: 2px;
  margin: 2px;
}

.UIContent {
  font-size: 11px;
}

.UIContentTitle {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
}

.UILeftRanked > .UIContent {
  background-color: #d7ffa7;
  border: 1px solid #bf8;
  color: #350;
}

.UIRightRanked > .UIContent {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  color: #444;
}

.UIContentTags {
  float: right;
}

.UIContentMoreLess {
  color: #36c;
  background-color: #cdf;
  border: 1px solid #9cf;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  padding: 1px;
}

.UIContentMoreLess:hover {
  background-color: #9cf;
  border: 1px solid #6af;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #c30;
  border: 1px solid #f96;
  background-color: #fc9;
  padding: 1px;
}

a:hover {
  background-color: #f96;
  border: 1px solid #f63;
  color: #f00;
}

li {
  margin: 2px;
}

.UIPrintHeader {
  display: none;
}
