html, body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#container {
  min-width: 800px;
}

.UITagGroup {
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
  float: left;
  margin: 1px;
  padding: 1px;
}

.UITagGroup:hover {
  background-color: #ddd;
  border: 1px solid #bbb;
}

.UITagGroupName {
  color: #666;
  font-size: 10px;
  font-weight: 300;
}

.UITag {
  background-color: #fb8;
  border: 1px solid #fa7;
  color: #f41;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  margin: 1px;
  padding: 1px;
  text-decoration: none;
}

.UITag.enabled {
  background-color: #af7;
  border: 1px solid #8f5;
  color: #491;
}

.UITag:active {
  background-color: #8bf;
  border: 1px solid #7af;
  color: #36f;
}
