/**
 * Contains all CSS that is specific to the CV UI.
 */

#container {
  min-width: 800px;
  position: relative;
}

.UITagGroup {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 1px;
  padding: 1px;
  width: 120px;
}

.UITagGroup:hover {
  background-color: #ddd;
  border: 1px solid #bbb;
}

.UITagGroupName {
  color: #666;
  font-size: 10px;
  font-weight: 300;
}

.UITag {
  background-color: #fe7;
  border: 1px solid #ed5;
  color: #963;
  cursor: default;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  margin: 1px;
  padding: 1px;
  text-decoration: none;
}

.UIControls {
  color: #666;
  font-size: 13pt;
  font-weight: 500;
}

.UILeftTypeahead {
  display: inline-block;
  width: 50%;
}

.UIRightTypeahead {
  display: inline-block;
  text-align: right;
  width: 50%;
}

.UITwoColumns {
  width: 100%;
}

.UIHeader {
  width: 100%;
  clear: both;
  background-color: #eee;
}

.UITwoColumns .UIColumn {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.UIColumns {
  position: relative;
  border-bottom: 1px solid #ccc;
}

.UIHeader {
  border-bottom: 1px solid #ccc;
}

.UILeftRanked {
  border-right: 1px solid #ccc;
}

.UIRightRanked {
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

.UIContent,.UIColumnEmpty {
  padding: 2px;
  margin: 2px;
}

.UIContent {
  font-size: 11px;
}

.UIColumnEmpty {
  font-size: 14px;
  text-align: center;
}

.UIContentTitle {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
}

.UIColumnEmpty > .UIContentTitle {
  font-size: 18px;
}

.UILeftRanked > .UIContent {
  background-color: #cf9;
  border: 1px solid #bf8;
  color: #350;
}

.UIRightRanked > .UIContent {
  background-color: #bdf;
  border: 1px solid #acf;
  color: #246;
}

.UIBottomRanked > .UIContent {
  background-color: #ddd;
  border: 1px solid #ccc;
  color: #444;
}

.UIColumnEmpty {
  background-color: #fc9;
  border: 1px solid #fb8;
  color: #642;
}

.UIContentTags {
  float: right;
}
