/**
 * Contains all CSS that is specific to the CV UI.
 */

#container {
  min-width: 800px;
  position: relative;
}

.UITagGroup {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 1px;
  padding: 1px;
  width: 120px;
}

.UITagGroup:hover {
  background-color: #ddd;
  border: 1px solid #bbb;
}

.UITagGroupName {
  color: #666;
  font-size: 10px;
  font-weight: 300;
}

.UITag {
  background-color: #fb8;
  border: 1px solid #fa7;
  color: #f41;
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  margin: 1px;
  padding: 1px;
  text-decoration: none;
}

.UITag.enabled {
  background-color: #af7;
  border: 1px solid #8f5;
  color: #491;
}

.UITimeline {
  position: relative;
}

.UITimelineHeader {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-left: 1px solid #ddd;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 8px;
}

.UIHorizAxis {
  color: #666;
  font-size: 13pt;
  font-weight: 500;
}

.UIHorizAxisLeft {
  display: inline-block;
  width: 50%;
}

.UIHorizAxisRight {
  display: inline-block;
  text-align: right;
  width: 50%;
}

.UIActivity {
  border: 1px solid #ddd;
  color: #666;
  font-size: 11px;
  padding: 2px;
  width: 150px;
  position: absolute;
}

.UIActivityTitle {
  color: #333;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
}

.UISidebar {
  float: left;
  position: fixed;
  top: 0;
  width: 150px;
}

.UIContentContainer {
  margin-left: 150px;
}

.UIContent {
  width: 100%;
  float: right;
}
