.UITypeahead {
  padding: 2px;
  background: #eee;
  position: relative;
}

.UITypeaheadInput {
  font-family: Ubuntu, sans-serif;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 20pt;
}

.UITypeaheadDropdown {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 300px;
  position: absolute;
  top: 42px;
  z-index: 1000;
}

.UIRightTypeahead .UITypeaheadDropdown {
  right: 2px;
}

.UITypeaheadSuggestionCount {
  font-size: 11pt;
}

.UITypeaheadSuggestions {
}

.UITypeaheadSuggestion {
}

.inactive {
  color: #999;
}

.hidden {
  display: none;
}

.selected {
  background-color: #9cf;
}
